@import "./variables/variable.scss";

.home_body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(235, 235, 250, 0.4), rgba(235, 235, 250, 0.4)), url('/public/assets/bg-cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-family: $font;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
}
.home__container{
    width: 100%;
    max-width: 850px;
    background-color: $white;
    padding: 10px 15px;
    border-radius: 15px;
    height: fit-content;
    margin-top: 80px;
    position: relative;
}
@media (max-width: $breakpoint-laptop) {
  .home_body { 
    padding: 0 10px;
  }
}

.logo-body {
  display: flex;
  justify-content: flex-end;
  width: 100%;
    padding-right: 20px;
  padding-top: 20px;

}
.logo-company {
  width:  5rem;

}


