@import "./variables/variable.scss";


.board__body{
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-bottom: 20px;
    overflow-y: scroll;
    max-height: 100vh;
    padding-bottom: 25vh;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: $breakpoint-laptop-L) {
    .board__body{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: $breakpoint-laptop) {
    .board__body{
        grid-template-columns: repeat(2, 1fr);
    }
}
