@import "./variables/variable.scss";


.search__body {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: white;
}

.input {
    background-color: $white;
    outline: none;
    padding: 10px ;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: gray; 
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    height: fit-content;
}

.input::placeholder {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: inherit;
}

.icon {
    width: 25px;
    height: 25px;
    color: gray;
}
